<div>
    <% @recipes.each do |r| %>
        <h3><%= link_to r.name, recipe_path(r) %></h3>
    <% end %>
</div>
<%= button_to "Create a new recipe", new_recipe_path, method: :get, class: "btn btn-primary"%>