<%= form_with(model: [ @recipe, ingredient ], local: true) do |f| %>
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.submit %>
    </div>
<% end %>