<div class="jumbotron">
    <h1 class="display-4">Welcome to BabySpoon</h1>
    <p class="lead">A simple way to track what you're feeding your kids.</p>
    <hr class="my-4">
    <%= link_to "Register", new_user_registration_path %>
    <%= link_to "Log In", new_user_session_path %>
</div>